USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 6/1/2020 9:25:22 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[BaoCaoCongNo]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoCongNo](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_BaoCaoCongNo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoTon]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTon](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_BaoCaoTon] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBaoCaoCongNo]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBaoCaoCongNo](
	[MaBaoCao] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[SoTienNoDau] [int] NOT NULL,
	[SoTienNoCuoi] [int] NOT NULL,
 CONSTRAINT [PK_CTBaoCaoCongNo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBaoCaoTon]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBaoCaoTon](
	[MaBaoCao] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuongTonDau] [int] NOT NULL,
	[SoLuongTonCuoi] [int] NOT NULL,
 CONSTRAINT [PK_CTBaoCaoTon] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaBan] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[DonGiaNhap] [int] NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTacGia]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTacGia](
	[MaTG] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
 CONSTRAINT [PK_CTTacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTheLoai]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTheLoai](
	[MaTL] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
 CONSTRAINT [PK_CTTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [int] NULL,
	[NgayBan] [datetime] NULL,
	[SoTienTra] [int] NULL,
	[MaKH] [int] NOT NULL,
	[MaND] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](11) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SoTienNo] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenND] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaND] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[MaPT] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayThuTien] [datetime] NULL,
	[SoTienThu] [int] NULL,
	[MaND] [int] NULL,
 CONSTRAINT [PK_PhieuThuTien] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQuyDinh] [int] IDENTITY(1,1) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[SoLuongSachTonToiThieuDeNhap] [int] NOT NULL,
	[SoLuongSachNhapToiThieu] [int] NOT NULL,
	[TienNoToiDa] [int] NOT NULL,
	[SoLuongSachTonToiThieuSauKhiBan] [int] NOT NULL,
	[DuocThuVuotSoTienKhachHangDangNo] [bit] NOT NULL,
 CONSTRAINT [PK_QuyDinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongTon] [int] NULL,
	[DonGia] [int] NULL,
	[TenSach] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[AnhBia] [varchar](100) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 6/1/2020 9:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](100) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([MaHD], [MaSach], [SoLuong], [DonGiaBan]) VALUES (1, 2, 10, 240000)
INSERT [dbo].[CTHD] ([MaHD], [MaSach], [SoLuong], [DonGiaBan]) VALUES (2, 5, 2, 160000)
INSERT [dbo].[CTHD] ([MaHD], [MaSach], [SoLuong], [DonGiaBan]) VALUES (2, 40, 1, 92000)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSach], [DonGiaNhap], [SoLuongNhap]) VALUES (2, 2, 240000, 150)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSach], [DonGiaNhap], [SoLuongNhap]) VALUES (2, 3, 220000, 150)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaSach], [DonGiaNhap], [SoLuongNhap]) VALUES (2, 4, 40000, 150)
INSERT [dbo].[CTTacGia] ([MaTG], [MaSach]) VALUES (1, 38)
INSERT [dbo].[CTTacGia] ([MaTG], [MaSach]) VALUES (1, 39)
INSERT [dbo].[CTTacGia] ([MaTG], [MaSach]) VALUES (1, 58)
INSERT [dbo].[CTTheLoai] ([MaTL], [MaSach]) VALUES (16, 37)
INSERT [dbo].[CTTheLoai] ([MaTL], [MaSach]) VALUES (21, 10)
INSERT [dbo].[CTTheLoai] ([MaTL], [MaSach]) VALUES (23, 18)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [NgayBan], [SoTienTra], [MaKH], [MaND]) VALUES (1, 3900000, CAST(N'2020-03-24T00:00:00.000' AS DateTime), 3900000, 13, 4)
INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [NgayBan], [SoTienTra], [MaKH], [MaND]) VALUES (2, 412000, CAST(N'2020-04-10T00:00:00.000' AS DateTime), 412000, 13, 4)
INSERT [dbo].[HoaDon] ([MaHD], [TongTien], [NgayBan], [SoTienTra], [MaKH], [MaND]) VALUES (3, 340000, CAST(N'2020-03-28T00:00:00.000' AS DateTime), 338000, 16, 4)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi], [Email], [SoTienNo]) VALUES (13, N'Khách Hàng Thông Thường', N'00000000000', N'<Địa chỉ>', NULL, 0)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi], [Email], [SoTienNo]) VALUES (14, N'Huỳnh Chí Phong', N'01203875665', N'792/4 đường Kha Vạn Cân, nước Việt Nam, tinh cầu Trái Đất, tinh hệ Thái Dương Hệ', N'hiroshi.kaze1994@gmail.com', 12000)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi], [Email], [SoTienNo]) VALUES (15, N'Võ Hoài Nam', N'00000000001', N'Trên mặt đất, dưới bầu trời', NULL, 8000)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [TenND], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [TenDangNhap], [MatKhau], [ChucVu]) VALUES (1, N'Nguyễn Phú Trung Anh', CAST(N'2000-07-11T00:00:00.000' AS DateTime), 1, N' 1017 D6 Khu B, HCM - VNU, Trái đất- Hành tinh số 7, Vũ trụ 7', N'0374666666', N'admin1', N'87d9bb400c0634691f0e3baaf1e2fd0d', N'admin')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [TenDangNhap], [MatKhau], [ChucVu]) VALUES (2, N'Nguyễn Hữu Trí', CAST(N'2000-08-14T00:00:00.000' AS DateTime), 1, N' 1017 D6 Khu B, HCM - VNU, Trái đất- Hành tinh số 7, Vũ trụ 7', N'0312346574', N'user1', N'87d9bb400c0634691f0e3baaf1e2fd0d', N'user')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [NgaySinh], [GioiTinh], [DiaChi], [SDT], [TenDangNhap], [MatKhau], [ChucVu]) VALUES (3, N'Trần Ngọc Trường', CAST(N'2000-09-27T00:00:00.000' AS DateTime), 1, N' 1017 D6 Khu B, HCM - VNU, Trái đất- Hành tinh số 7, Vũ trụ 7', N'0123456786', N'admin2', N'87d9bb400c0634691f0e3baaf1e2fd0d', N'user')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaND]) VALUES (2, CAST(N'2020-06-01T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaND]) VALUES (3, CAST(N'2020-05-08T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaND]) VALUES (4, CAST(N'2020-04-06T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
SET IDENTITY_INSERT [dbo].[PhieuThuTien] ON 

INSERT [dbo].[PhieuThuTien] ([MaPT], [MaKH], [NgayThuTien], [SoTienThu], [MaND]) VALUES (1, 18, CAST(N'2020-04-17T00:00:00.000' AS DateTime), 20000, 1)
SET IDENTITY_INSERT [dbo].[PhieuThuTien] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [SoLuongTon], [DonGia], [TenSach], [MoTa], [AnhBia]) VALUES (2, 288, 240000, N'Hoa Thiên Cốt - Trọn bộ', N'HOA THIÊN CỐT” - TIỂU THUYẾT TIÊN HIỆP', N'HoaThienCot_TronBo.png')
INSERT [dbo].[Sach] ([MaSach], [SoLuongTon], [DonGia], [TenSach], [MoTa], [AnhBia]) VALUES (3, 147, 220000, N'Narnia - Trọn bộ', N'The first time Julia Beckett saw Greywethers she was only five, but she knew that it was her house. ', N'Narnia_TronBo.png')
INSERT [dbo].[Sach] ([MaSach], [SoLuongTon], [DonGia], [TenSach], [MoTa], [AnhBia]) VALUES (4, 149, 40000, N'Truyện Kiều', N'The Tale of Kieu is an epic poem in Vietnamese written by Nguyen Du (1766–1820), and is widely regarded as the most significant work of Vietnamese literature. ', N'TruyenKieu.jpg')
SET IDENTITY_INSERT [dbo].[Sach] OFF
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (1, N'Nhiều tác giả')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (2, N'Fred Vargas')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (3, N'Darren Shan')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (10, N'10+')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (16, N'16+')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (18, N'18+')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
ALTER TABLE [dbo].[CTBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_CTBaoCaoCongNo_BaoCaoCongNo] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BaoCaoCongNo] ([MaBaoCao])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTBaoCaoCongNo] CHECK CONSTRAINT [FK_CTBaoCaoCongNo_BaoCaoCongNo]
GO
ALTER TABLE [dbo].[CTBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_CTBaoCaoCongNo_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTBaoCaoCongNo] CHECK CONSTRAINT [FK_CTBaoCaoCongNo_KhachHang]
GO
ALTER TABLE [dbo].[CTBaoCaoTon]  WITH CHECK ADD  CONSTRAINT [FK_CTBaoCaoTon_BaoCaoTon] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BaoCaoTon] ([MaBaoCao])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTBaoCaoTon] CHECK CONSTRAINT [FK_CTBaoCaoTon_BaoCaoTon]
GO
ALTER TABLE [dbo].[CTBaoCaoTon]  WITH CHECK ADD  CONSTRAINT [FK_CTBaoCaoTon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTBaoCaoTon] CHECK CONSTRAINT [FK_CTBaoCaoTon_Sach]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_Sach]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_Sach]
GO
ALTER TABLE [dbo].[CTTacGia]  WITH CHECK ADD  CONSTRAINT [FK_CTTacGia_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTTacGia] CHECK CONSTRAINT [FK_CTTacGia_Sach]
GO
ALTER TABLE [dbo].[CTTacGia]  WITH CHECK ADD  CONSTRAINT [FK_CTTacGia_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTTacGia] CHECK CONSTRAINT [FK_CTTacGia_TacGia]
GO
ALTER TABLE [dbo].[CTTheLoai]  WITH CHECK ADD  CONSTRAINT [FK_CTTheLoai_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTTheLoai] CHECK CONSTRAINT [FK_CTTheLoai_Sach]
GO
ALTER TABLE [dbo].[CTTheLoai]  WITH CHECK ADD  CONSTRAINT [FK_CTTheLoai_TheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTTheLoai] CHECK CONSTRAINT [FK_CTTheLoai_TheLoai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NguoiDung]
GO
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuTien_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [FK_PhieuThuTien_KhachHang]
GO
ALTER TABLE [dbo].[PhieuThuTien]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuTien_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuThuTien] CHECK CONSTRAINT [FK_PhieuThuTien_NguoiDung]
GO
USE [master]
GO
